* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*For Grid Container*/

.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 3fr;
  grid-template-areas:
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  height: 100vh;
}

/*For Grid Container*/

/*For Header*/

.rsn-header {
  grid-area: header;
  background-image: url(RSN_Banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  /*box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);*/
}

.btn-dropdown {
  margin-left: 10px;
  padding: 0 10px;
  border: 1px solid #a5ccd1;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(248, 248, 248);
  transition: color 100ms, background-color 100ms;
}

.btn-dropdown:hover {
  color: rgb(22, 22, 22);
  background-color: rgb(185, 185, 185);
}

/*For Header*/

/*For sidebar*/

#rsn-sidebar {
  grid-area: sidebar;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  font-size: 13px;
  color: #d9d8d8;
  background-color: rgb(68, 67, 67);
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  border-top-left-radius: 20px;
  padding: 20px 10px;
  transition: background-color 100ms, color 100ms;
}

.sidebar-list-item i {
  margin-right: 10px;
  padding-left: 10px;
}

.sidebar-list-item:hover {
  background-color: #e6e8ed;
  color: #106b04;
  cursor: pointer;
  font-weight: bold;
}

.sidebar-list-item.active {
  background-color: #e6e8ed;
  color: #106b04;
  font-weight: bold;
}

.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn-logout {
  margin-top: 30px;
  padding: 10px 50px;
  border: 1px solid #106b04;
  border-radius: 5px;
  background-color: white;
  transition: border 100ms, color 100ms, background-color 100ms;
  color: #106b04;
}

.btn-logout:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #106b04;
}

.sidebar-dropdown {
  display: block;
  width: 100%;
  color: #d9d8d8;
  text-decoration: none;
  border-top-left-radius: 20px;
  transition: background-color 0.2s ease;
  padding: 20px 10px;
}

/*//For sidebar dropdowns//*/
.sidebar-dropdown i {
  margin-right: 10px;
  padding-left: 10px;
}

.sidebar-dropdown:hover {
  background-color: #e6e8ed;
  color: #106b04;
  font-weight: bold;
}

.sidebar-submenu .sidebar-list-item {
  padding: 10px 15px;
  cursor: pointer;
}

.sidebar-submenu .sidebar-list-item:hover {
  background-color: #dcdcdc;
  color: #106b04;
}
/*//For sidebar dropdowns//*/

/*For sidebar*/

/*For the main container*/

.rsn-main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  background-color: #e6e8ed;
}

.main-title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  color: #093d02;
}

.rsn-main-cards {
  display: grid;
  grid-template-columns: 1fr; /*ADJUST ACCORDING TO THE NUMBER OF CARDS*/
  gap: 10px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-top: 50px solid #093d02;
  border-radius: 5px;
  margin-left: 20px;
}

/* Slide Button Container */
.slide-button-wrapper {
  width: 220px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

/* Slide Handle */

.slide-button-handle {
  width: 130px;
  height: 100%;
  background-color: #093d02;
  color: white;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  transition: left 0.1s;
  user-select: none;
}

#existingWorkModesList .list-group-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
}


/*For the main container*/

/*For the Loading overlay*/

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  text-align: center;
}

/*For the Loading overlay ends*/

/*For the modals format*/

.modal-title {
  color: #093d02;
}

/*For the modals format*/
